---
# Deploy Hetzner CSI Driver
# Required variables:
#   - hcloud_location: Hetzner location (from group_vars)

- name: Validate required variables
  ansible.builtin.assert:
    that:
      - hcloud_location is defined
    fail_msg: "Required variable: hcloud_location"

- name: Deploy CSI Driver
  ansible.builtin.command:
    cmd: kubectl apply -f {{ hcloud_csi_manifest_url }}
  environment:
    KUBECONFIG: /etc/rancher/k3s/k3s.yaml
    HCLOUD_VOLUME_DEFAULT_LOCATION: "{{ hcloud_location }}"
  register: csi_install
  changed_when: >-
    'created' in csi_install.stdout or 'configured' in csi_install.stdout
