version: 1
metadata:
  labels:
    blueprints.goauthentik.io/instantiate: "true"
  name: Password Policy
entries:
  - model: authentik_policies_password.passwordpolicy
    state: present
    identifiers:
      name: default-password-policy
    id: default-password-policy
    attrs:
      check_zxcbnm: true
      zxcvbn_score_threshold: 2
      check_static_rules: true
      length_min: 8
      amount_digits: 1
      amount_lowercase: 1
      amount_uppercase: 1
      amount_symbols: 1
      error_message: >-
        Password needs to be 8 characters or longer. It must have at least
        1 upper case, 1 lower case, 1 number digit, and 1 special character.
      symbol_charset: "!\"#$%&''()*+,-./:;<=>?@[\\]^_`{|}~"

  - model: authentik_policies_password.passwordpolicy
    state: absent
    identifiers:
      name: default-password-change-password-policy

  - model: authentik_stages_prompt.promptstage
    state: present
    identifiers:
      name: default-password-change-prompt
    attrs:
      validation_policies:
        - !KeyOf default-password-policy
