---
authentik:
  secret_key: "{{ authentik_secret_key }}"
  log_level: info
  postgresql:
    host: "{{ authentik_db_host }}"
    port: "{{ authentik_db_port }}"
    name: "{{ authentik_db_name }}"
    user: "{{ authentik_db_user }}"
    password: "{{ authentik_db_password }}"
  redis:
    host: ""
    password: ""
  email:
    host: "{{ lookup('env', 'AUTHENTIK_SMTP_HOST') }}"
    port: {{ lookup('env', 'AUTHENTIK_SMTP_PORT') }}
    username: "{{ lookup('env', 'AUTHENTIK_SMTP_USERNAME') }}"
    password: "{{ lookup('env', 'AUTHENTIK_SMTP_PASSWORD') }}"
    use_tls: false
    use_ssl: true
    from: "noreply@{{ lookup('env', 'TF_VAR_domain') }}"

postgresql:
  enabled: false
redis:
  enabled: false

# ---------------------------------------------------------------------
# Server Component
# ---------------------------------------------------------------------
server:
  env:
    - name: AUTHENTIK_BOOTSTRAP_EMAIL
      value: "{{ lookup('env', 'AUTHENTIK_BOOTSTRAP_EMAIL') }}"
    - name: AUTHENTIK_BOOTSTRAP_PASSWORD
      value: "{{ lookup('env', 'AUTHENTIK_BOOTSTRAP_PASSWORD') }}"
    - name: AUTHENTIK_HOST
      value: "https://auth.{{ lookup('env', 'TF_VAR_domain') }}"
    # TODO: Remove when ACME certs are switched from staging to production
    - name: AUTHENTIK_INSECURE
      value: "true"

  volumes:
    - name: blueprints
      configMap:
        name: authentik-blueprints

  volumeMounts:
    - name: blueprints
      mountPath: /blueprints/custom

  ingress:
    enabled: true
    ingressClassName: "traefik"
    annotations:
      traefik.ingress.kubernetes.io/router.entrypoints: websecure
    hosts:
      - "auth.{{ lookup('env', 'TF_VAR_domain') }}"
    paths:
      - "/"

  # POD Level Context
  securityContext:
    runAsUser: 1000
    runAsGroup: 1000
    fsGroup: 1000
    runAsNonRoot: true
    seccompProfile:
      type: RuntimeDefault

  # CONTAINER Level Context
  containerSecurityContext:
    allowPrivilegeEscalation: false
    capabilities:
      drop:
        - ALL

# ---------------------------------------------------------------------
# Worker Component
# ---------------------------------------------------------------------
worker:
  env:
    - name: AUTHENTIK_BOOTSTRAP_EMAIL
      value: "{{ lookup('env', 'AUTHENTIK_BOOTSTRAP_EMAIL') }}"
    - name: AUTHENTIK_BOOTSTRAP_PASSWORD
      value: "{{ lookup('env', 'AUTHENTIK_BOOTSTRAP_PASSWORD') }}"

  volumes:
    - name: blueprints
      configMap:
        name: authentik-blueprints

  volumeMounts:
    - name: blueprints
      mountPath: /blueprints/custom

  # POD Level Context
  securityContext: 
    runAsUser: 1000
    runAsGroup: 1000
    fsGroup: 1000
    runAsNonRoot: true
    seccompProfile:
      type: RuntimeDefault

  # CONTAINER Level Context
  containerSecurityContext:
    allowPrivilegeEscalation: false
    capabilities:
      drop:
        - ALL
