---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-deployment
  labels:
    app: {{ .Chart.Name }}
  namespace: {{ .Values.namespace }}
spec:
  replicas: {{ .Values.wellKnown.replicaCount }}
  selector:
    matchLabels:
      app: {{ .Chart.Name }}
  template:
    metadata:
      labels:
        app: {{ .Chart.Name }}
    spec:
      securityContext:
        runAsNonRoot: true
        runAsUser: 65534
        runAsGroup: 65534
        seccompProfile:
          type: RuntimeDefault
      containers:
        - name: {{ .Chart.Name }}-wellknown
          image: "{{ .Values.wellKnown.image.repository }}:{{ .Values.wellKnown.image.tag }}"
          ports:
            - containerPort: {{ .Values.wellKnown.service.port }}
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop: ["ALL"]
          livenessProbe:
            httpGet:
              path: /.well-known/matrix/client
              port: 8080
            initialDelaySeconds: 10
            timeoutSeconds: 3
          readinessProbe:
            httpGet:
              path: /.well-known/matrix/client
              port: 8080
            initialDelaySeconds: 10
            timeoutSeconds: 3
          volumeMounts:
            - name: wellknown-config-volume
              mountPath: /etc/nginx/conf.d/99-wellknown.conf
              subPath: nginx-wellknown.conf
              readOnly: true
            - name: wellknown-config-volume
              mountPath: /data/.well-known.json
              subPath: well-known.json
              readOnly: true
      volumes:
        - name: wellknown-config-volume
          configMap:
            name: {{ .Release.Name }}-{{ .Chart.Name }}-wellknown-configmap
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-{{ .Chart.Name }}-wellknown-configmap
  namespace: {{ .Values.namespace }}
data:
  nginx-wellknown.conf: |
    server {
        listen       8080;
        server_name  localhost;

        location /.well-known/matrix/client {
            alias /data/.well-known.json;
            default_type application/json;
            add_header Content-Type application/json;
            add_header Cache-Control "public, max-age=3600";
        }
    }

  well-known.json: |
    {
      "m.homeserver": {
        "base_url": "https://{{ .Values.domain }}"
      }
    }
---
apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-{{ .Chart.Name }}-wellknown-service
  namespace: {{ .Values.namespace }}
spec:
  selector:
      app: {{ .Chart.Name }}
  ports:
    - port: 80
      targetPort: 8080

---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: {{ .Release.Name }}-{{ .Chart.Name }}-wellknown-ingressroute
  namespace: "{{ .Values.namespace }}"
spec:
  entryPoints:
    - websecure
  routes:
    - kind: Rule
      match: "Host(`{{ .Values.domain }}`) && PathPrefix(`/.well-known/matrix/client`)"
      services:
        - kind: Service
          name: {{ .Release.Name }}-{{ .Chart.Name }}-wellknown-service
          namespace: "{{ .Values.namespace }}"
          port: 80
  tls:
    secretName: "wildcard-{{ .Values.domain | replace "." "-" }}-tls"
