#cloud-config

package_update: true
package_upgrade: true

packages:
  - curl
  - ca-certificates
  - open-iscsi
  - nfs-common
  - firewalld
  - fail2ban
  - python3-systemd
  - libpam-google-authenticator
  - software-properties-common
  - ripgrep
  - fd-find
  - git
  - unzip

write_files:
  - path: /etc/ssh/sshd_config.d/99-security.conf
    content: |
      PasswordAuthentication no
    permissions: '0644'
%{ for script in fileset("${path_module}/files/provision.d", "*.sh") ~}
  
  - path: /tmp/${script}
    content: ${base64encode(file("${path_module}/files/provision.d/${script}"))}
    encoding: b64
    permissions: '0755'
%{ endfor ~}

runcmd:
%{ for script in sort(fileset("${path_module}/files/provision.d", "*.sh")) ~}
  - /tmp/${script}
%{ endfor ~}
  - rm -f /tmp/*.sh

final_message: "Cloud-init setup complete. System ready for K3s installation."