---
- name: Phase 2 - Platform Layer
  hosts: k3s_nodes
  run_once: true
  become: true

  module_defaults:
    kubernetes.core.helm:
      kubeconfig: /etc/rancher/k3s/k3s.yaml
    kubernetes.core.k8s:
      kubeconfig: /etc/rancher/k3s/k3s.yaml
    kubernetes.core.helm_repository:
      kubeconfig: /etc/rancher/k3s/k3s.yaml
    kubernetes.core.k8s_info:
      kubeconfig: /etc/rancher/k3s/k3s.yaml
    kubernetes.core.k8s_exec:
      kubeconfig: /etc/rancher/k3s/k3s.yaml

  roles:
    - role: platform/database
    - role: platform/identity
    - role: platform/ntfy
