---
# Deploy K3s HA cluster with embedded etcd
# Standalone: mise run ansible:run playbooks/infrastructure/k3s-cluster.yml

- name: Fetch Hetzner Cloud facts
  hosts: localhost
  gather_facts: false
  roles:
    - role: "{{ playbook_dir }}/../../roles/infrastructure/hcloud_facts"

- name: Initialize K3s cluster (first node)
  hosts: k3s-converged-node-01
  become: true
  gather_facts: true
  vars:
    k3s_control_plane_endpoint: >-
      {{ hostvars['localhost']['k3s_control_plane_endpoint'] }}
    k3s_mode: init
  roles:
    - role: "{{ playbook_dir }}/../../roles/infrastructure/k3s_server"

- name: Join K3s cluster (additional nodes)
  hosts: k3s_nodes:!k3s-converged-node-01
  become: true
  gather_facts: true
  serial: 1
  vars:
    k3s_control_plane_endpoint: >-
      {{ hostvars['localhost']['k3s_control_plane_endpoint'] }}
    k3s_mode: join
  roles:
    - role: "{{ playbook_dir }}/../../roles/infrastructure/k3s_server"

- name: Install Python Kubernetes library
  hosts: k3s_nodes
  become: true
  gather_facts: false
  tasks:
    - name: Install python3-kubernetes
      ansible.builtin.apt:
        name: python3-kubernetes
        state: present

- name: Retrieve kubeconfig
  hosts: k3s-converged-node-01
  become: true
  gather_facts: false
  vars:
    k3s_control_plane_endpoint: >-
      {{ hostvars['localhost']['k3s_control_plane_endpoint'] }}
  roles:
    - role: "{{ playbook_dir }}/../../roles/infrastructure/k3s_kubeconfig"
