---
- name: Check if Helm is installed
  ansible.builtin.command: which helm
  register: helm_check
  ignore_errors: true
  changed_when: false

- name: Download Helm installer
  ansible.builtin.get_url:
    url: https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3
    dest: /tmp/get_helm.sh
    mode: '0700'
  when: helm_check.rc != 0

- name: Install Helm
  ansible.builtin.command: /tmp/get_helm.sh
  become: true
  environment:
    VERIFY_CHECKSUM: "false"
  when: helm_check.rc != 0
